<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CarthageSupport.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>JKViewFrameFramework.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F329974B1F04EFF100AAE111</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F32997641F04EFF100AAE111</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F329976F1F04EFF100AAE111</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F32997921F04F27300AAE111</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F329979A1F04F27300AAE111</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
